* {
    margin: 0;
    padding: 0;
}


/*============ HEADER ===========*/

.header {
    margin: 25px;
}

.header_right {
    text-align: right;
}

.topnav a {
    text-decoration: none;
    margin: 10px;
}


/*============= MAIN ===========*/

.slider {
    background-color: rgb(59, 59, 160);
}

.menu-block {
    box-sizing: border-box;
    /* width: 1390px;
    height: 487px; */
}

.nav-menu {
    background-color: blue;
}

.nav-menu::after {
    content: "";
}

.menu ul li {
    display: inline-block;
    text-decoration: none;
}

.menu .nav-menu a {
    font-size: 16px;
    margin: center;
    color: white;
    display: inline-block;
    margin: 10px;
    margin-top: 5px;
    text-decoration: none;
}

.menu .nav-menu a:hover {
    background-color: rgb(34, 147, 212);
}

.menu-main .content-menu {
    display: flex;
    margin-top: 20px;
}

.menu-main .content-menu .small {
    text-align: center;
    width: 14.2%;
}

.menu-main .content-menu .small .img {
    width: 30px;
    height: 28px;
    margin: auto;
}

.menu-main .content-menu .small .img img {
    width: 100%;
    height: 100%;
}

.menu-main .content-menu .small .content-img {
    font-family: Arial;
    font-size: 14px;
}

.main-admissions a {
    color: black;
    text-decoration: none;
}

.main-news a {
    color: black;
    text-decoration: none;
}

.main-admissions {
    background-color: silver;
}


/* ======footer===========*/

.img-infor {
    padding-top: 10px;
    padding-left: 120px;
}

.img-infor a {
    margin: 5px;
}

footer {
    font-size: 14px;
}

footer .infor-bottom {
    height: 320px;
}

.addresshn,
.addressmn {
    padding-top: 30px;
}