* {
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
.header {
    margin: 25px;
||||||| e15d118
.header 
{
    display: flex;
=======


/*============ HEADER ===========*/

.header {
    display: flex;
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
}

.header_right {
    text-align: right;
<<<<<<< HEAD
||||||| e15d118
    padding: 20px 150px ;
}
.logo {
    text-align: left;
    margin: 5px;
    padding-top: 20px;
    padding-left: 10%;
   
 
}
.header_right .topnav  { 
   
    padding-top: 10px;
    padding-left: 100px;
 
=======
    padding: 20px 140px;
}

.logo {
    text-align: left;
    margin: 5px;
    padding-top: 20px;
    padding-left: 200px;
}

.header_right .topnav {
    padding-top: 10px;
    padding-left: 100px;
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
}

.topnav a {
    text-decoration: none;
    margin: 10px;
}
<<<<<<< HEAD

.search-form input {
    width: 300px;
    border: 1px solid rgb(149, 151, 151);
    box-sizing: border-box;
    border-radius: 1px;
    padding: 4px 10px 4px 30px;
    outline: none;
    font-size: 12px;
    font-style: italic;
    background-color: aliceblue;
}

.search-form .search-btn {
    border: 1px solid rgb(175, 174, 174);
    border-radius: 1px;
    padding: 3px;
    outline: none;
    font-size: 13px;
    font-family: Arial;
    background-color: rgb(27, 198, 250);
}

.search-form {
    position: relative;
    top: 0;
    left: 0;
}

.search-icon {
    position: absolute;
    top: 60px;
    padding-left: 20px;
}
/* =====main=======*/
.slider {
    background-color: rgb(59, 59, 160);
}

.menu-block {
    box-sizing: border-box;
    /* width: 1390px;
    height: 487px; */
}

.nav-menu {
    background-color: blue;
}

.nav-menu::after {
    content: "";
}

.menu ul li {
||||||| e15d118
.menu ul li  {
    
=======

.search-form input {
    width: 300px;
    border-radius: 10px;
    padding: 6px 10px 6px 30px;
    outline: none;
    font-size: 12px;
    font-style: italic;
    box-sizing: border-box;
}

.search-form .search-btn {
    border-radius: 10px;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif UI;
}

.search-form {
    position: relative;
    top: 0;
    left: 0;
}

.search-icon {
    position: absolute;
    top: 92px;
    padding-left: 8px;
}


/*============= MAIN ===========*/

.menu ul li {
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
    display: inline-block;
    text-decoration: none;
}
<<<<<<< HEAD

.menu .nav-menu a {
    font-size: 16px;
||||||| e15d118
.menu nav a 
{
    font-size: medium;
=======

.menu nav a {
    font-size: medium;
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
    margin: center;
    color: white;
    display: inline-block;
    margin: 10px;
    margin-top: 5px;
    text-decoration: none;
}
<<<<<<< HEAD

.menu .nav-menu a:hover {
    background-color: rgb(34, 147, 212);
||||||| e15d118
nav a:hover{
    background-color: gray;
}
.thanhmenu
{
    width: auto;
    height: 40px;
    background-color: blue;
=======

nav a:hover {
    background-color: gray;
}

.thanhmenu {
    width: auto;
    height: 40px;
    background-color: blue;
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
}

.main-menu {
    margin-top: 20px;
}
<<<<<<< HEAD
.menu-main p a
{
||||||| e15d118
.main-tuyensinh  a
{
    color: black;
=======

.main-tuyensinh a {
    color: black;
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
    text-decoration: none;
}
<<<<<<< HEAD
.main-tuyensinh  a, .main-tintuc a,.main-daotao a, .main-KHCN a,.main-SV a
{
||||||| e15d118
.main-tintuc a
{
=======

.main-tintuc a {
>>>>>>> bc94e5c163ebde4b83eec5c54d62d2abff0cec6e
    color: black;
    text-decoration: none;
}

.main-tintuc li a, .main-tuyensinh li a, .main-KHCN li a ,.main-daotao li a ,.main-SV li a
{
    text-decoration: none;
}
.main-KHCN p a ,.main-daotao p a, .main-SV p a,.main-tuyensinh p a
{
    text-decoration: none;
}
.main-SV .list-new li 
{
  margin-left:20px;
}
/* ======footer===========*/
.img-infor 
{
    padding-top: 10px;
    padding-left: 120px;
}
.img-infor a
{
    margin: 5px;
}
footer
{
    font-size: 14px;
   
}
footer .infor-bottom
{
    height: 320px;
   
}
.addresshn ,.addressmn
{
    padding-top: 30px;
}