/*==Reset CSS==*/
* {
    margin: 0;
    padding: 0;
  }
  header
  {
      background-color: rgb(121, 121, 238);
      margin: 15px;
      height: 100px;
  }
  h3
  {
    text-align: center;
    padding: 30px;
  }
   
  /*==Style cơ bản cho website==*/
  body {
    font-family: sans-serif;
    color: #333;
  }
  /*==Style cho menu===*/
#menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
  /*====khoa======*/
  h2
  {
      text-align: center;
      margin-top: 0px;
  }
  .btn_faculty input
  {
      margin: 20px;
  }
  .btn_faculty span{
      color: black;
      font-weight: bold;
  }

  
   /*====addmin======*/
   .btn_themmoi
   {
     margin: 15px;
   }
   .table_teacher
   {
     margin-top: 20px;
   }
   .information
   {
     margin-top: 30px;
   }
   