header
{ 
    display: flex;
    background-color: rgb(80, 90, 238);
    color: white;
}
h3
{
    padding: 30px;
}
.header_right p
{
   padding-left: 400px; 
}
/*=============mainnn==========*/
form {border: 3px solid #f1f1f1;}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}



.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}




.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

